@import "../styles/variables";

.container {
	width: $default-container-width;
	margin: 0 auto;
	padding: 0 15px;
	border-radius: 4px;
	background-color: $white;

	> div:not(:last-child) {
		border-bottom: 1px solid $light-gray;
	}
}
